<main>
  <div class="main-container">
    <div class="col-6">
      <mat-card class="mt-2">
        <h3 style="padding: 0px;">Essential Reports  </h3>
        <hr/>
        <ul class="dot-free">
            <li><a href="#">Master Data Report  </a></li>
            <li><a href="#"> Increment Report </a></li>
            <li><a href="#"> Budget Utilization Report </a></li>
            <li><a href="#">CTC Change Report  </a></li>
            <li><a href="#"> Team Status Funnel Report </a></li>
            <div class="clearfix"></div>
        </ul>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="mt-2">
        <h3 style="padding: 0px;">Custom Reports  </h3>
        <hr/>
        <ul class="dot-free">
            <li><a href="#">Simulation Data Report  </a></li>
            <li><a href="#"> Payroll Input Report  </a></li>
            <li><a href="#">Compa Ratio Report </a></li>
          
            <div class="clearfix"></div>
        </ul>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="mt-2">
        <h3 style="padding: 0px;">Favorite Reports </h3>
        <hr/>
        <ul class="dot-free">
            <li><a href="#">Payroll Input Report </a></li>
            <li><a href="#">  Team Status Report </a></li>
            <li><a href="#">  Gender Pay Parity Report </a></li>
         
            <div class="clearfix"></div>
        </ul>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="mt-2">
        <h3 style="padding: 0px; float: left;">Builder Reports  </h3>
        <button style="float: right; margin: 0px;"  routerLink="create-new-builder-report" class="primary-btn">Create New </button>
        <div class="clearfix"></div>
        <hr/>
        <ul class="dot-free">
            <li><a href="#">Bonus Data Report </a></li>
            <li><a href="#">  Salary Range Report </a></li>
            <li><a href="#"> External Benchmarking Data </a></li>
         
            <div class="clearfix"></div>
        </ul>
      </mat-card>
    </div>
  </div>
</main>
