<div class="responsive-table-new">
<table mat-table [dataSource]="dataSourceonett" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="businessunit">
      <th mat-header-cell *matHeaderCellDef> Business Unit </th>
      <td class="text-left" mat-cell *matCellDef="let element"> {{element.businessunit}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="headcount">
      <th mat-header-cell *matHeaderCellDef> Headcount </th>
      <td mat-cell *matCellDef="let element"> {{element.headcount}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="currentsalarycost">
      <th mat-header-cell *matHeaderCellDef> Current Salary Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.currentsalarycost}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="budgetedincrease">
      <th mat-header-cell *matHeaderCellDef> Budgeted Increase </th>
      <td mat-cell *matCellDef="let element"> <span> {{element.budgetedincrease}}</span> </td>
    </ng-container>
     <!-- Symbol Column -->
     <ng-container matColumnDef="budgetedincreaseamount">
        <th mat-header-cell *matHeaderCellDef> Budgeted Increase Amount </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.budgetedincreaseamount}}</span> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<button [mat-dialog-close]="true"   style="float: right; margin-right: 20px;" class="save-pop">Save</button>
<button [mat-dialog-close]="true" style="float: right; margin-right: 20px;" class="cancel-pop">cancel</button>

  
  