h1{
    color: #3c4b73;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    width: 100%;
}
.col-md-4{
    width: 23%;
    margin: 0% 1%;
    float: left;
    .mat-form-field{
        width: 100%;
    }
}
.col-md-8{
    width: 73%;
    margin: 0% 1%;
    float: left;
}

textarea{
    width: 100%;
border:1px solid rgba(0,0,0,.12);
float: left;
border-radius: 5px;
}
.float-right{
    float: right;
    text-align: right;
}
.submit{
    float: right;
    border: 1px solid#3c4b73;
    line-height: 28px;
    font-size: 16px;
    padding: 5px 26px;
    background-color:#3c4b73;
    border-radius: 22px;
    color:#fff;
    font-weight: 300;
    margin-left: 10px;
    display: inline-block;
    margin-top:10px;
}
p{
    font-weight: 300;
    color: #3c4b73;
    font-size: 15px;
}
.cancel{
    float: right;
    border: 1px solid#3c4b73;
    line-height: 28px;
    font-size: 16px;
    padding: 5px 26px;
    background-color:#fff;
    border-radius: 22px;
    color:#3c4b73;
    font-weight: 300;
    display: inline-block;
    margin-top:10px;
}