<h1 mat-dialog-title>Bonus Feedback</h1>
<div mat-dialog-content>
  <div class="col-md-4">
    <p>Available Pool</p>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Placeholder" value="1,250,000" />
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <p>Utilized Pool</p>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Placeholder" value="4,250,000" />
    </mat-form-field>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-4">
    <p>Bonus Pool</p>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Placeholder" value="50,000,000" />
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <p>Eligible Bonus</p>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Placeholder" value="250,000" />
    </mat-form-field>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-4">
    <p>Achieved Bonus</p>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Placeholder" value="200,000" />
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <p>Corrected Bonus</p>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Placeholder" value="250,000" />
    </mat-form-field>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-4">
    <p>Comments</p>
  </div>
  <div class="col-md-8">
    <textarea rows="3" placeholder="">
Key asset for the team, hence need to be given higher bonus to retain.</textarea
    >
  </div>
</div>
<div mat-dialog-actions style="display: block;">
  <div class="float-right">
    <button class="submit" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Submit
    </button>
    <button class="cancel" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Cancel
    </button>
  </div>
</div>
