main {
  background: #f5f5f5;
  width: 80%;
  float: left;
  min-height: 100vh;
  margin-left: 18%;
}

.main-container {
  padding: 10px 25px;
  clear: both;
}

.mat-header-cell {
  color: rgba(0, 0, 0, 0.54);
  background: #e8e8e8;
  cursor: pointer;
}
mat-cell,
mat-footer-cell,
mat-header-cell {
  border-right: 1px solid #ccc;
  text-align: center;
  display: inline-grid;
}
.mat-table {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  min-width: 1000px;
}
table {
  width: 100%;
  box-shadow: none;
  min-width: 400px;
  border: 1px solid #ccc;
  border-radius: 7px;
  border-right: 0px;
  min-width: 1000px;
}
table span {
  width: 100%;
  display: block;
  font-size: 14px;
}
.mt-2 {
  margin-top: 20px;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  text-align: center;
  border: 0px;
  border-right: 1px solid #ccc;
  color: #444;
}
td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
  border-right: 0px;
}
.mat-card > :first-child {
  margin: 1%;
}
th.mat-header-cell {
  font-size: 15px;
  font-weight: 400;
  background-color: #e6e6e6;
}
h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444;
}
a {
  color: #444;
  text-decoration: none;
}
th.mat-header-cell span {
  font-size: 12px;
  line-height: 20px;
}
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  text-align: center;
  padding: 10px 10px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding: 0px;
}
tr.mat-footer-row {
  font-weight: bold;
}
td.mat-footer-cell {
  border-top: 1px solid #ccc;
  font-size: 16px;
  font-weight: 400;
}
.mat-elevation-z8 {
  box-shadow: none;
}
.col-6 {
  width: 48%;
  float: left;
  margin: 1%;
}
.col-md-4 {
  width: 31.33%;
  float: left;
  padding: 1%;
}
h3 {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0px;
}
mat-card {
  font-size: 15px;
  font-weight: 300;
}
.save-report {
  width: 50%;
  float: right;
}
.drag span {
  background-image: url(../../../../../assets/images/mover.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20px;
  line-height: 20px;
  margin: 0 auto;
  width: 90%;
}
.save-report p {
  width: auto;
  float: left;
  margin-top: 32px;
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  main {
    background: #f5f5f5;
    width: 100%;
    float: left;
    min-height: 100vh;
    margin-left: 0%;
  }

  .main-container {
    padding: 10px 15px;
    clear: both;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  main {
    background: #f5f5f5;
    width: 100%;
    float: left;
    min-height: 100vh;
    margin-left: 0%;
  }

  .main-container {
    padding: 10px 15px;
    clear: both;
  }
  .col-md-4 {
    width: 100%;
  }
  .col-6 {
    width: 48%;
  }
}
