<div mat-dialog-content>
  <h4 class="text-center">Personal and Confidential</h4>
<p>June 27, 2018</p>
<p>Vishnu Kumar</p>
<p>Employee Code: 10067</p>
<p>Grade: 5</p>
<p><strong>Designation: Assistant Manager</strong></p>
<p>Function: Operations</p>
<br>
<p>Dear Vishnu,</p>
<br>
<p>Congratulations! Atmax is pleased to inform that you are promoted to the post of Assistant Manager in Grade - 5. Your new annualized <strong>On Target Earning (OTE) </strong> for this year will be ₹ 500000 (Rupees Five Lakhs Only). These changes are effective 1st July 2019.</p>

<br/>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Salary Components</th>
      <th>Monthly</th>
      <th>Annual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td> Basic</td>
      <td>11,094 </td>
      <td>1,33,133</td>
    </tr>
    <tr>
      <td></td>
      <td>
        Flexible Benefit Plan (FBP)
      </td>
      <td>26,544</td>
      <td>3,18,529</td>
    </tr>
    <tr>
      <td></td>
      <td>Employer Contribution to PF</td>
      <td>1,331</td>
      <td>15,976</td>
    </tr>
    <tr>
      <td></td>
      <td>Employer contribution to ESIC</td>
      <td> - </td>
      <td> - </td>
    </tr>
    <tr>
      <td></td>
      <td>Insurance<em>(2)</em> </td>
      <td>325</td>
      <td>3,900</td>
    </tr>
    <tr>
      <td></td>
      <td>Employer contribution to Gratuity<em>(3)</em> </td>
      <td>533</td>
      <td>6,390</td>
    </tr>
    <tr>
      <td></td>
      <td>Annual Bonus<em>(4)</em> </td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td></td>
      <td> <strong>Base Gross Salary (X)</strong></td>
      <td> <strong>39,827</strong></td>
      <td><strong>4,77,928</strong></td>
    </tr>
    <tr>
      <td></td>
      <td> Incentive ( 1 ) <strong> (Y)</strong></td>
      <td> 1,839</td>
      <td>22,072</td>
    </tr>
    <tr>
      <td></td>
      <td>  <strong> On Target Earning (OTE) (X+Y)</strong></td>
      <td> <strong>41,667</strong></td>
      <td><strong>5,00,000</strong></td>
    </tr>
    <tr>
      <td></td>
      <td>  <strong> </strong></td>
      <td> <strong></strong></td>
      <td><strong></strong></td>
    </tr>
  </tbody>
</table>
<table style="border-top:0px">
  <tbody>
    <tr>
      <td>(1)</td>
      <td>25% of this incentive amount is based on ALPS Score and 75% of this incentive amount is based on Individual Score payable annually along with the next month's salary. Employee should be on the payroll of the company at the time of incentive payout otherwise incentive would not be payable.</td>
      
    </tr>
    <tr>
      <td>(2)</td>
      <td>Includes Mediclaim for self (spouse and two children covered as added benefit), Personal Accident and Life Coverage for Self. The Coverage is 2 lacs for Group Mediclaim policy, 5 Lacs for Group Accidental Policy and 20 lacs for Group Life Insurance Policy</td>
      
    </tr>
    <tr>
      <td>(3)</td>
      <td>Payable as per policy at the time of retirement / separation, after completion of 5 years of employment.</td>
      
    </tr>
    <tr>
      <td>(4)</td>
      <td>Not Applicable</td>
      
    </tr>
  </tbody>
  </table>

<br>
<p>
  Note:
</p>
<ul>
  <li>Minimum eligibility for incentive pay out will be as per the relevant Company Wide Incentive Plan 2018-19 applicable to you</li>
  <li>Base Gross Salary & OTE are subject to Statutory Tax deductions</li>
  <li>As per Statutory Tax guidelines, Professional Tax deductions are mandatory in certain states (Applicable as per your base location).</li>
  <li>In case of any role change, your incentives will be governed by Companywide Incentive Plan.</li>
  <li>Any amendments in the Companywide Incentive Plan can happen during the year and will supersede above incentive criteria applicable to you</li>
  <li>The incentive pay out cycle and calculation criteria may change depending upon the change in role or designation. It will be applicable as per the new role & grade, even if there is no change in overall compensation.</li>
  
  
</ul>
<br/>
<p><strong style="color: red;">Important: The compensation information is confidential. We request you to use discretion in handling your compensation-related information. As a company policy, we prohibit sharing this information with other employees or unauthorized personnel. The company will treat any violation of this as a serious matter.</strong></p>
<br/>
<p>
 <strong>Explanation of various benefits:</strong> This section gives details of the various benefit schemes at Atmax and the way they are administered. Coverage under any of these plans may be subject to certain requirements or limitations. This information cannot be used to modify any coverage that is listed in separate insurance documents, policies, trust deeds, etc. In all cases, the provisions of these documents and policies and letter of offer (and subsequent changes) would apply. The company reserves the right to amend any compensation plan or information given in this section without prior notice. Please contact Human Resources Team for further assistance.
</p>
<br/>
<p>
  <strong>Benefit Plan (FBP):</strong> FBP is subject to Income as per prevailing Government rules and regulations.
</p>
<br/>
  <ul class="list-st">
    <li>- House Rent Allowance (HRA) </li>
    <li>- Children Education Allowance </li>
    <li>- Leave Travel Allowance (LTA) </li>
    <li>- Professional Development Allowance (if applicable) </li>
    <li>- Prepaid Meal Card (if applicable) </li>
    <li>- Client Entertainment Expenses (if applicable) </li>
    <li>- Other Allowance (if applicable)</li>
  </ul>
  <br/>
<p>
  <strong>Note:</strong> Please note that the income tax treatment related to any of the elements of the FBP could change based on the emerging/changing legal provisions as applicable.
</p>
<br/>
<p>
  <strong>Medical Insurance for Family:</strong> Atmax provides comprehensive medical insurance benefit to employee, spouse and up to 2 children of the employee. Please refer details in the Group Medical Insurance Policy.
</p>
<br/>
<p>
  <strong>Performance Incentive:</strong> The incentive will be calculated and payable as per Companywide Incentive Plan 2018-19.
</p>
<br/>
<p>
  <strong>Gratuity Scheme:</strong> Every employee is eligible for gratuity benefits after completion of 5 years of service at Atmax as per “The Payment of Gratuity Act 1972”.
</p>
<br/>
<p>
  You will be governed by the Company policies, as applicable from time to time. You should keep yourself abreast of all the applicable Company policies & processes.
</p>
<br/>
<p>
  <strong>Notice Period:</strong> Your notice period will be 90 days as per policy and it will change with change in role and grade as per company policy.
</p>
<br/>
<p>
  <strong>We thank you for your contribution to Atmax. We take this opportunity to wish you the very best in the year ahead!!!</strong>
</p>

<br/>
<p><strong>Regards</strong></p>
<p><strong>For Atmax HR Services Pvt. Ltd.</strong></p>
<!-- <p>Signature of signing authority,</p>
<p>Name of signing authority,</p>
<p>Designation of signing authority</p> -->
</div>
<div mat-dialog-actions style="display: block; border-top:1px solid #ccc">
  <div class="float-right">
    
    <button style="margin-left: 15px;" class="cancel" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Close
    </button>
    <button  class="cancel" mat-button [mat-dialog-close]="true" cdkFocusInitial>
      Download
    </button>
  </div>
</div>
