/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
  width: 100%;
  background-color: #f5f5f5;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  height: 100%;
  font-weight: 400;
  letter-spacing: 1px;
}
.text-center {
  text-align: center;
}
.mat-form-field-flex {
  padding: 7px 0 7px 0;
  height: 50px;
}
.height-ta .mat-form-field-flex {
  height: 42px;
}
.clearfix {
  clear: both;
  line-height: 0;
}
.mat-form-field-label-wrapper {
  top: -19px;
}
input.mat-input-element {
  margin-top: -5px;
  vertical-align: middle;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px 0 1em 0;
}
.modal-md-custom .mat-form-field-subscript-wrapper {
  position: relative !important;
}
button,
a {
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}
button:focus {
  outline: 0;
}
mat-card {
  -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1) !important;
}
.col-4 .mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.84375em;
  margin-top: 0;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #3c4b73 !important;
}
.mat-form-field-wrapper {
  padding-bottom: 7px;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 5px 0 1em 0;
}
.date-picker-p input.mat-input-element {
  margin-top: -15px;
  vertical-align: middle;
}
.date-picker-p .mat-icon-button {
  line-height: 50px;
  padding-top: 7px;
}
.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #3a4666;
  font-weight: 300;
  padding: 1px 40px;
  border-radius: 20px;
}
.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}
p {
  font-size: 13px !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
}
.font-size15 {
  font-size: 13px !important;
  font-weight: 400;
  line-height: 18px;
}
snack-bar-container.snackbar-success {
  background: #4aa252;
  font-weight: bold;
  color: white;
}
snack-bar-container.snackbar-error {
  background: #c4392a;
  font-weight: bold;
  color: white;
}

snack-bar-container.snackbar-warning {
  background: #ff9400;
  font-weight: bold;
  color: white;
}
.filter-list .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 2px 0 1em 0;
}
.filter-list .mat-form-field-label-wrapper {
  background-image: url("../src/assets/images/magnifying-glass.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 20px;
}
.filter-list input.mat-input-element {
  margin-top: 1px;
  vertical-align: middle;
  padding-left: 30px;
}
.filter-list1 .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 3px 0 1em 0;
}
.filter-list1 .mat-form-field-label-wrapper {
  background-image: url("../src/assets/images/magnifying-glass.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 23px;
}
.filter-list1 input.mat-input-element {
  margin-top: 1px;
  vertical-align: middle;
  padding-right: 30px;
}
.filter-list1 .mat-form-field-flex {
  height: 40px;
}
.mat-error {
  margin-top: 10px;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  font-weight: 400;
}
.mat-card {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) !important;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) !important;
  border-radius: 7px !important;
}
h3 {
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  margin: 15px 0px 13px 0px !important;
}
.height-mat .mat-form-field-flex {
  padding: 7px 0 7px 0;
  height: 40px;
}
button {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
.highcharts-title {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #000 !important;
  letter-spacing: 1px;
}
.highcharts-title tspan {
  color: #444 !important;
  font-weight: 400 !important;
  font-size: 14px;
  fill: #444 !important;
  stroke-width: 0px !important;
  font-family: "Poppins", sans-serif;
}
th.mat-header-cell {
  font-size: 12px !important;
}
.mat-cell,
.mat-footer-cell {
  font-size: 12px !important;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.87) !important;
}
.mat-cell,
.mat-footer-cell {
  font-size: 12px !important;
  font-weight: 400;
  letter-spacing: 1px;
}
.customModalClass {
  width: 74% !important;
  left: 21% !important;
  position: absolute !important;
  border-radius: 7px !important;
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.primary-btn {
  background-color: #3a4666;
  font-weight: 300;
  padding: 1px 40px;
  border-radius: 20px;
  line-height: 35px;
  color: #fff;
  border: 0px;
  margin-top: 25px;
}
.customModalClassedit,
.customModalClassgroup {
  width: 700px;
  margin-left: 20%;
}
.simulationpopedit {
  width: 600px;
  margin-left: 20%;
}
.simulationpopedit .mat-form-field {
  width: 100%;
}
.mat-elevation-z8 {
  box-shadow: none !important;
  width: 100%;
}
.cancel-pop {
  border-radius: 20px;
  min-width: 90px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #3a4666;
  color: #3a4666;
  background-color: #fff;
}
.save-pop {
  background-color: #3a4666;
  color: #fff;
  border: 0;
  min-width: 90px;
  line-height: 35px;
  display: inline-block;

  min-width: 90px;
  border-radius: 21px;
  cursor: pointer;
}
table {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  overflow: hidden;
}
.mat-dialog-container {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
.simulationpop {
  width: 450px;
  margin-left: 50%;
}
.modal-md-custom {
  width: 450px;
  margin-left: 23%;
}
.editbenchmarking {
  width: 550px;
  margin-left: 20%;
}
.marketcorrectinput {
  width: 900px;
  margin-left: 18%;
}
.processgridsetting {
  width: 700px;
  margin-left: 20%;
}
.mat-dialog-title {
  font-size: 15px !important;
  color: #444 !important;
}
.table-height {
  height: 436px;
}
.chart-cart {
  height: 259px;
}
.tab-container-main .mat-tab-header {
  margin: 0px 12px;
}
.mat-sort-header-arrow {
  opacity: 1 !important;
  color: #495b8d;
}
.tab-container-main .mat-tab-header {
  margin: 0px 12px;
}
.mat-tab-label {
  margin-right: 3%;
}
.highcharts-container,
.highcharts-root {
  width: 100% !important;
}
th.mat-header-cell {
  text-align: left !important;
  padding: 0px 10px !important;
  font-weight: 600 !important;
}
td.mat-cell {
  text-align: left !important;
  padding: 0px 10px !important;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding: 0px 16px !important;
  text-align: left !important;
}
.mat-simple-snackbar-action .mat-button-wrapper {
  color: rgb(231, 231, 231) !important;
}
.dragand .mat-sort-header-arrow {
  display: none;
}
.dragand mat-header-cell:first-of-type,
.dragand mat-cell:first-of-type {
  padding-left: 0px;
}
.dragand .mat-sort-header-button {
  width: 100%;
}
.team-tabl table .mat-sort-header-button {
  text-align: left;
}
.BenchMarking th.mat-header-cell:first-of-type .mat-sort-header-container,
.BenchMarking td.mat-cell:first-of-type {
  width: 88px;
  min-width: 88px !important;
}
.BenchMarking .mat-cell:nth-child(2) {
  min-width: 100px;
}
.BenchMarking th.mat-header-cell:nth-child(2) {
  min-width: 100px;
}
.BenchMarking th.mat-header-cell:nth-child(2) .mat-sort-header-container {
}
.mat-sort-header-button {
  text-align: left;
}
