.col-md-6{
    width: 50%;
    float: left;
}
.col-md-5{
    width: 35%;
    float: left;
}
.col-md-7{
    width: 65%;
    float: left;
}
.text-right{
    text-align: right;
}
.mt-2{
    margin-top: 20px;
}
.cancel-pop {
    border-radius: 20px;
    min-width: 90px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #3a4666;
    color: #3a4666;
    background-color: #fff;
}